<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
     <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">
  <h2>  <%= title %> </h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Choose Image</button>



  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="row">
          <div class="col">
             <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> <% title %></h4>
        </div>
        <div class="modal-body">
           <form class="well" center method="post" action="/upload"  enctype="multipart/form-data">


          <p>Please Upload the scanned copies of your credentials below </p>
          <div class="form-group">
            <label for="picture">File input</label>
            <input type="file" class="form-control-file" id="picture" aria-describedby="fileHelp" name="picture" required>
            <small id="fileHelp" class="form-text text-muted">The scanned copy should not exceed 50K</small>
          </div>
         
          
          
          
            <button type="submit" class="btn btn-primary" value="upload Image">Submit</button>
          </form> 
      </div>
      <div class="col">

        <ul>
    <% for(var i=0; i<supplies.length; i++) { %>
        <li>
            <a href='supplies/<%= supplies[i] %>'>
                <%= supplies[i] %>
            </a>
        </li>
    <% } %>
</ul>

        <ul>
        <% images.forEach(function(image){ %>
          <% var i=1; %>

             <li><img src="../route/upload/+<% image.filename %>+.jpg" class="img-circle" alt="Image" width="304" height="236">
             <!-- Target -->
            <input id="foo+<%= i %>" value="<%=image.filename%>.jpg">
              
        <!-- Trigger -->
        <button class="btn" data-clipboard-target="#foo+<%= i %>">
            <span class="label label-primary">copy</span>
        </button>
          <% i=i+1; %>
          <p>
                <%= i %>

              </p>
            </li>
        <% }); %>
         </ul>
      </div>
    </div>
       

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
    <h1> </h1>
  
   <script   src="/javascripts/jquery-3.2.1.js"></script>
    <script   src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/clipboard.js"></script>
    <script>
      new Clipboard('.btn');
      </script>

  </body>
</html>
